body {
    margin: 0;
    padding: 0;
    height: 75vh;
    overflow-x: hidden;
}

#container {
    position: absolute;
    top: 0;
    width: 193vh;
    height: 15vh;
    border-bottom: 2px solid white;
    display: grid;
    border: 1.5px solid black;
    letter-spacing: 2px;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    z-index: 1000;
    transition: top 2s;
}

#container .nav-bar {
    margin: 0vh 0vh 0vh;
    position: absolute;
    width: 193vh;
    height: 15vh;
    display: flex;
    letter-spacing: 2px;
    align-items: center;
}

.nav-bar .logo {
    width: 10vh;
    height: 10vh;
    margin-top: 0vh;
    margin-left: 30vh;
    border-radius: 15vh;
    box-shadow: 0px 0px 23px 2px #38343445;
}

.nav-bar ul {
    position: absolute;
    margin: 0vh 50vh 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar  ul li{
    margin-left: 1vh;
    font-size: 2.5vh;
    letter-spacing: 2px;
    gap: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar ul li a {
    text-decoration: none;
    width: 14vh;
    height: 3vh;
    color: rgb(14, 12, 12);
    font-weight: bold;
    border-radius: 1vh;
    background-color: rgba(154, 149, 149, 0.167);
    padding: 6px 5px;
    box-shadow: 0vh 45px 15px -18px #18151577;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: width 1s, height 1s;
}

.nav-bar ul li a:hover {
    cursor: pointer;
    width: 14.5vh;
    height: 3.5vh;
    border: 2px solid white;
    border-radius: 1vh;
    color: rgb(35, 32, 32);
    box-shadow: 0vh 45px 10px -17px #474444ac;
    background-color: rgba(76, 199, 223, 0.521);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

h1{
    position: absolute;
    font-size: 5vh;
    border-bottom: 1px solid black;
    margin-top: -12vh;
    margin-left: 70vh;
    font-weight: bolder;
    font-style: italic;
}
table {
    box-shadow: 5vh -30px 20px 8px #464141ac;
    -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
    width: 75vh;
    height: 65vh;
    border-collapse: collapse;
    margin-top: 40vh;
    margin-left: 55vh;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 2vh;
}

th {
    background-color: #1addbdd2;
    font-weight: bold;
    font-size: 2.5vh;
}

tr:nth-child(even) {
    background-color: #f0a5f794;
}
